.paginationContainer {
	display: flex;
	gap: 35px;
	align-items: center;
	justify-content: center;
}

.paginationItems {
	display: flex;
	align-items: center;
}

.paginationItem {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	color: #3f4e65;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
}

.active {
	background: linear-gradient(
		90deg,
		rgba(255, 198, 80, 0.3) 0%,
		rgba(254, 202, 110, 0.3) 97.25%
	);
}
