.catalogContainer {
	display: flex;
	flex-direction: column;
	gap: 30px;
	max-width: 1376px;
	width: 100%;
	padding: 0px 8px 13px 8px;
}

@media (max-width: 1024px) {
	.catalogContainer {
		gap: 25px;
	}
}

.buttonBackContainer {
	padding-top: 20px;
}

.catalogHeader {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.catalogHeaderUpper {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 550px) {
	.catalogHeaderUpper {
		flex-direction: column;
		align-items: center;
		gap: 19px;
	}
}

.catalogTitle {
	font-size: 40px;
	line-height: 48px;
	font-weight: 500;
	text-transform: uppercase;
}

@media (max-width: 768px) {
	.catalogTitle {
		font-size: 20px;
		line-height: 24px;
	}
}
.catalogSort {
	position: relative;
	display: flex;
	gap: 5px;
	align-items: center;
}

.catalogSortTitle {
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}

.catalogSortButton.catalogSortButton {
	display: flex;
	gap: 5px;
	width: 126px;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #3f4e65;
}

.sortContainer {
	position: absolute;
	top: 30px;
	right: -3px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	gap: 2px;
	font-size: 15px;
	line-height: 24px;
	color: #3f4e65;
	padding: 10px;
	background-color: #ffffff;
	box-shadow: -7px 14px 39px -11px rgba(0, 0, 0, 0.26);
	border-radius: 10px;
}

.sortItem {
	cursor: pointer;
}

.sortItem:hover {
	color: #ffc85e;
}

.sortItem.checked {
	color: #f0b745;
}

.catalogHeaderLower {
	display: flex;
	gap: 5px;
	justify-content: space-between;
	max-width: 1376px;
	width: 100%;
	overflow: auto;
}

@media (max-width: 1440px) {
	.catalogHeaderLower {
		display: none;
	}
}

.sortButton {
	padding: 18px;
	box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
	border-radius: 10px;
	font-size: 14px;
	line-height: 17px;
	color: #3f4e65;
}

.selected {
	border: 3px solid #ffc85e;
	font-weight: 700;
}

.catalogMain {
	display: flex;
	gap: 5px;
}

@media (max-width: 550px) {
	.catalogMain {
		flex-direction: column;
		align-items: center;
	}
}
