.buttonBackContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}

.sidebarButton.sidebarButton {
  width: 32px;
  height: 32px;
  background-color: var(--color_9);
}

.text {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  color: var(--color_2);
  letter-spacing: 0.14em;
}
