.contactsPageContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  padding: var(--container-padding);
  padding-left: 80px;
  font-size: var(--fz-s);
  max-width: var(--innerContainer_secondary);
}

@media(max-width:768px) {
  .contactsPageContainer {
    padding-inline: var(--container-padding-mobile);
    padding-block: var(--container-padding);
    gap: 20px;
  }
}

.innerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.left, .right {
  display: flex;
  flex-direction: column;
}

.left {
  flex: 1 0 300px;
  gap: 25px;
}

.right {
  flex: 1 0 500px;
  padding-inline: 20px;
  border-left: 3px solid var(--color_12);
  gap: 40px;
}

.infoParagraph, .contactsParagraph {
  display: flex;
  flex-direction: column;
}

.contactsParagraph {
  gap: 15px;
}

.contactsParagraphSpan {
  margin-bottom: 25px;
}

.infoParagraph {
  gap: 8px;
}

.paragraphTitle {
  font-size: var(--fz-xs);
  color: var(--color_2);
}

.coloredText {
  color: var(--color_12);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: circle;
  padding-left: 20px;
}

.paragraphTitle {
  font-size: var(--fz-m_2);
  font-weight: 700;
}

.mainParagraph {
  font-weight: 700;
}
