.hero {
    display: grid;
    place-items: center;
  }
  
  .heroImg {
    width: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
  
  .heroBlur {
    width: 50%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    justify-self: start;
    background: var(--linear-gradient_3);
    backdrop-filter: blur(6.5px);
  }
  
  .wrapperInner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    max-width: var(--innerContainer_secondary);
    width: 100%;
    padding-inline: var(--container-padding);
    z-index: 1;
  }
  
  .heroInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  
  .heroText {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--white);
  }
  
  .heroCaption {
    font-size: var(--fz-title_1);
    line-height: 110%;
    font-weight: 500;
  }
  
  .heroSubCaption {
    font-size: var(--fz-subtitle_1);
    line-height: 150%;
    font-weight: 700;
  }
  
  .heroControls {
    display: flex;
    flex-direction: column;
    gap: 91px;
  }
  
  .catalogButton {
    max-width: 300px;
    width: 100%;
    letter-spacing: 2.7px;
  }
  
  .controlsInfo {
    display: flex;
    gap: 35px;
  }
  
  @media (max-width: 1440px) {
    .heroText,
    .heroControls {
      gap: 20px;
    }
  
    .heroCaption {
      font-size: var(--fz-title_2);
    }
  
    .heroSubCaption {
      font-size: var(--fz-subtitle_2);
    }
  
    .heroInfoContainer {
      gap: 40px;
    }
  }
  
  @media (max-width: 1024px) {
    .heroCaption {
      font-size: var(--fz-title_4);
    }
  
    .heroSubCaption {
      font-size: var(--fz-subtitle_3);
    }
  
    .catalogButton {
      width: fit-content;
    }
  
    .heroBlur {
      width: 90%;
      height: 80%;
      justify-self: center;
      align-self: center;
    }
  
    .wrapperInner {
      grid-template-columns: 1fr;
      place-items: center;
    }
  
    .heroControls {
      display: none;
    }
  
    .heroText {
      align-items: center;
    }
  
    .heroCaption {
      padding-inline: 20px;
      text-align: center;
    }
  }

  .heroInfoItem {
    display: grid;
    column-gap: 10px;
    color: var(--white);
    grid-template-columns: 39px 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      'icon textUpper'
      'icon textLower';
  }
  
  .icon {
    grid-area: icon;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: var(--color_6);
  }
  
  .textUpper {
    grid-area: textUpper;
  }
  
  .textLower {
    grid-area: textLower;
  }
  
  @media (max-width: 1440px) {
    .textUpper,
    .textLower {
      font-size: var(--fz-s);
    }
  }
  
  @media (max-width: 1024px) {
    .textUpper,
    .textLower {
      font-size: var(--fz-xxs);
    }
  }
  