.carousel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--innerContainerCarousel);
  width: 100%;
  padding-inline: var(--container-padding);
  --viewed-elements-count: 1;
  
}

.carouselChildrenContainer {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(calc(100% / var(--viewed-elements-count)), 1fr)
  );
  grid-auto-flow: column;
  grid-auto-columns: minmax(calc(100% / var(--viewed-elements-count)), 1fr);
  column-gap: 5px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.carouselChildrenContainer::-webkit-scrollbar {
  display: none;
}

.carouselChildrenContainer > * {
  scroll-snap-align: start;
}

.buttonPrev,
.buttonNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.buttonPrev {
  left: 0px;
}

.buttonNext {
  right: 0px;
}

@media (max-width: 767px) {
  .carousel {
    padding-inline: var(--container-padding_767);
  }

  .buttonPrev svg,
  .buttonNext svg {
    width: 40px;
  }
}
