.listCart {
	display: flex;
	flex-direction: column;
	gap: 50px;
	max-width: 1385px;
	width: 100%;
	padding: 10px 8px;
	margin: 0;
}

@media (max-width: 1267px) {
	.listCart {
		align-items: center;
	}
}

.emptyCart {
	font-size: 20px;
}

.link {
	color: #ffc85e;
	font-weight: 700;
	font-size: 22px;
	text-decoration: underline;
}
