.backdrop {
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartDialogContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  gap: 67px;
  border-radius: var(--border-radius_2);
  max-width: var(--innerContainer_small);
  width: 100%;
  height: 424px;
}

@media (max-width: 521px) {
  .cartDialogContainer {
    gap: 20px;
    height: 288px;
  }
}

.dialogCross {
  display: flex;
  justify-content: flex-end;
  padding: 36px;
}

@media (max-width: 521px) {
  .dialogCross {
    padding: 16px;
  }
}

.dialogButton {
  margin-bottom: 14px;
}

.dialogInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dialogTitle {
  font-weight: 500;
  font-size: var(--fz-title_3);
  line-height: 1.2;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .dialogTitle {
    font-size: var(--fz-l);
    line-height: 1.26;
  }
}
@media (max-width: 487px) {
  .dialogTitle {
    font-size: var(--fz-m);
    line-height: 1.2;
  }
}

.dialogText {
  font-weight: 300;
  font-size: var(--fz-m);
  line-height: 1.2;
  color: var(--color_2);
  text-align: center;
}

@media (max-width: 768px) {
  .dialogText {
    font-size: var(--fz-s);
    line-height: 1.28;
  }
}

@media (max-width: 487px) {
  .dialogText {
    font-size: var(--fz-xs);
    line-height: 1.16;
  }
}
