.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--color_6);
  color: var(--white);
  font-weight: 700;
}

.button:hover {
  background-color: var(--color_11);
  box-shadow: var(--box-shadow_3);
}

.button:active {
  background-color: var(--color_12);
  box-shadow: none;
}

.button.primary {
  border-radius: 79px;
  height: 59px;
  gap: 13px;
}

.button.secondary {
  border-radius: 80px;
  height: 45px;
  gap: 6px;
}

.button.round {
  border-radius: 50%;
  width: 59px;
}

.button.small {
  height: 39px;
  width: 39px;
}
