.mainPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
}

.link {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--color_2);
  padding: 10px;
  box-shadow: var(--box-shadow_1);
  border-radius: var(--border-radius_1);
}
