.aboutPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: var(--container-padding);
  padding-left: 80px;
  max-width: var(--innerContainer_secondary);
}

@media(max-width:768px) {
  .aboutPageContainer {
    padding-inline: var(--container-padding-mobile);
    padding-block: var(--container-padding);
    gap: 20px;
  }
}

.aboutTitle {
  color: var(--color_2);
}

@media(max-width:768px) {
  .aboutTitle {
    font-size: var(--fz-m);
  }
}


.aboutText {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 2;
  font-size: var(--fz-s);
}

.listTitle {
  align-self: center;
  font-size: var(--fz-m_2);
  text-decoration: underline;
}

.paragraph {
  text-indent: 20px;
  margin-bottom: 15px;
  text-align: justify;
}

.aboutList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: disc;
  padding-left: 40px;
}

@media(max-width:425px) {
  .aboutList {
    padding-left: 20px;
  }
}
