.navListRow {
  display: flex;
  gap: 10px;
  max-width: 512px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fz-s);
  line-height: 1.5;
  color: var(--color_2);
}

.navListColumn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 21px;
}

@media (max-width: 780px) {
  .navListColumn {
    font-size: var(--fz-xs);
    line-height: 1.5;
  }
}

.userIcon {
  color: var(--color_2);
}

.userIcon:hover {
  color: var(--color_6);
}

.authorizationLink {
  display: block;
  position: relative;
}

.userIcon::before{
  display: none;
  content: "авторизация / регистрация";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 20px;
}

.authorizationLink:hover .userIcon::before{
  display: block;
}
