.hr {
  width: 100%;
  height: 1px;
  background-color: var(--color_2);
  opacity: 0.2;
}

.header {
  display: flex;
  flex-direction: column;
}

.headerUpper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.headerUpperButton.headerUpperButton {
  width: 32px;
  height: 32px;
}

.headerLogo {
  width: 97px;
}

.headerLower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 45px;
}

.headerCatalog {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  color: var(--color_2);
}

.cartButton svg {
  width: 22px;
  height: 16px;
}
.cartButton {
  position: relative;
}

.cartButton:not(.empty)::after {
  content: attr(data-count);
  position: absolute;
  top: -8px;
  right: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17px;
  width: 17px;
  color: var(--white);
  background-color: var(--color_6);
  border-radius: 50%;
  box-shadow: -1px 2px var(--white);
  font-size: 10px;
  line-height: 12px;
}

.headerSearchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--color_2);
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
}
