label {
  position: relative;
  display: flex;
  width: 100%;
}

.input {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 36px;
  background-color: var(--color_5);
  padding: 0px 55px 0px 20px;
  border: none;
}

.input.primary {
  height: 59px;
}

.input.small {
  height: 45px;
}

.input::placeholder {
  color: var(--color_7);
  font-size: var(--fz-xs);
  line-height: 1.5;
}

.inputButton {
  position: absolute;
  top: 9px;
  right: 13px;
}

.input.small ~ .inputButton {
  top: 7px;
  right: 13px;
  width: 32px;
  height: 32px;
}
