.sidebar {
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding: 19px 15px 37px 15px;
  max-width: 337px;
  width: 100%;
}

@media (max-width: 768px) {
  .sidebar {
    max-width: 290px;
  }
}

.sidebarTitle {
  display: flex;
  max-width: 290px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.titleText {
  font-size: var(--fz-m_2);
  line-height: 1.5;
  font-weight: 500;
}

.sidebarButton.sidebarButton {
  display: none;
  width: 32px;
  height: 32px;
  background-color: var(--color_9);
}

@media (max-width: 550px) {
  .sidebarButton.sidebarButton {
    display: block;
  }
}

.filterContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (max-width: 550px) {
  .filterContainer {
    display: none;
  }
}

.filterContainer.show {
  display: flex;
}

.sidebarButtonImg {
  transform: rotate(180deg);
}

.sortByPrice {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.priceTitle {
  font-weight: 300;
  font-size: var(--fz-s);
  line-height: 1.5;
  color: var(--color_2);
}

.priceTitle span {
  color: var(--black);
  font-weight: 500;
}

.priceFilter {
  display: flex;
  max-width: 232px;
  width: 100%;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.priceInput {
  text-align: center;
  background: var(--linear-gradient_2);
  border-radius: 1000px;
  padding: 4px 14px;
  width: 100px;
  border: none;
}

.dash {
  font-size: var(--fz-s);
  line-height: 1.28;
  font-weight: 500;
  color: var(--color_2);
}

.sortByMaker {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sortByMakerTitle {
  font-size: var(--fz-m_2);
  line-height: 1.5;
  font-weight: 500;
}

.searchWrapper {
  position: relative;
}

.sortByMakerInput.sortByMakerInput {
  max-width: 238px;
  width: 100%;
}

.searchMakers {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 238px;
  width: 100%;
  max-height: 120px;
  padding: 5px;
  border: 1px solid var(--color_6);
  background-color: var(--white);
  z-index: 2;
}

.textMaker {
  cursor: pointer;
}

.sortByMakerCheckbox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.checkbox {
  display: flex;
  gap: 10px;
}

.checkboxInfo {
  display: flex;
  gap: 5px;
  align-items: self-end;
}

.checkboxTitle {
  font-size: var(--fz-s);
  line-height: 1.5;
  color: var(--color_2);
}

.checkboxCounter {
  font-size: var(--fz-xxs);
  line-height: 1.5;
  color: var(--color_2);
}

.sortByMakerButton.sortByMakerButton {
  display: flex;
  gap: 5px;
  align-items: center;
  color: var(--color_2);
  font-size: var(--fz-xs);
  line-height: 1.5;
  font-weight: 500;
  padding: 15px 0px;
}

.dropDownContainer.dropDownContainer {
  flex-direction: column-reverse;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.showButton {
  max-width: 169px;
}

.categoriesButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categoryButton {
  text-align: start;
  width: max-content;
  color: var(--color_2);
  font-size: var(--fz-s);
  line-height: 1.2;
}

.selected {
  border: 3px solid var(--color_6);
  font-weight: 700;
}
