.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 326px;
    width: 100%;
    padding: 42px 22px 30px 22px;
    box-shadow: var(--box-shadow_2);
    border-radius: var(--border-radius_1);
  }
  
  .cardImage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .productImg {
    width: 100%;
    height: 218px;
    object-fit: contain;
  }
  
  .packageType {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 4px;
  }
  
  .packageType p {
    font-size: var(--fz-xs);
    line-height: 1.3;
    color: var(--color_2);
  }
  
  .cardTitle {
    font-weight: 500;
    font-size: var(--fz-m_2);
    line-height: 1.25;
    padding-top: 10px;
  }
  
  .specifications {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 20px;
  }
  
  .specificationsItem {
    display: flex;
    gap: 5px;
  }
  
  .specificationsTitle {
    font-size: var(--fz-s);
    line-height: 1.5;
    font-weight: 300;
    color: var(--color_2);
  }
  
  .specificationsValue {
    font-size: var(--fz-s);
    line-height: 1.5;
    font-weight: 500;
  }
  
  .priceContainer {
    display: flex;
    gap: 40px;
    align-items: center;
    padding-top: 15px;
  }
  
  .priceValue {
    font-size: var(--fz-m_2);
    line-height: 1.3;
    font-weight: 800;
  }
  
  .cartButton {
    max-width: 153px;
  }
  