.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.hr {
  border-bottom: 1px dashed var(--color_2);
  background-color: transparent;
}

.cartItemConainer {
  display: flex;
  gap: 20px;
  max-width: 1385px;
  width: 100%;
}

@media (max-width: 640px) {
  .cartItemContainer {
    flex-direction: column;
    align-items: center;
  }
}

.cartItemImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartItemImage {
  width: 281px;
}

@media (max-width: 768px) {
  .cartItemImage {
    width: 290px;
  }
}

.cartItemInfo {
  display: flex;
  max-width: 1068px;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 1267px) {
  .cartItemInfo {
    flex-direction: column;
    gap: 33px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 480px;
  width: 100%;
  padding: 15px 0px;
}

@media (max-width: 640px) {
  .textContainer {
    max-width: none;
  }
}

.packageType {
  display: flex;
  gap: 8px;
}

.packageTare {
  width: 9px;
}

.packageType p {
  font-size: 12px;
  line-height: 16px;
  color: var(--color_2);
}

.packageTypeTitle {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .packageTypeTitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
  }
}

.packageTypeDescript {
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  color: var(--color_2);
}

.priceContainer {
  display: flex;
  gap: 27px;
  max-width: 459px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 640px) {
  .priceContainer {
    max-width: none;
  }
}

.price {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .price {
    font-size: 16px;
    line-height: 20px;
  }
}

.quantity–°hange {
  grid-area: counter;
  display: flex;
  gap: 20px;
  align-items: center;
}

.quantityButton {
  width: 34px;
  height: 23px;
  background: var(--linear-gradient_2);
  border-radius: 1000px;
  color: var(--color_2);
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}
